html {
    margin: auto;
    padding: 5px 15px;
}

#mapid2, #container { 
    height: 500px;
    width: 70%;
    margin: auto;
}

h1 {
    font-family: 'Montserrat', Aial, sans-serif;
}

h2, p {
        font-family: 'Montserrat', Aial, sans-serif;
        

}
.photo1, .photo2, .photo3, .photo4, .photo5, .photo6, .photo7, .photo8, .photo9, .photo10, .photo11, .photo12, .photo13, .photo14, .photo15, .photo16 {
    height: 200px;
    width: 200px;
}

.template { display:none; }

label {
  display: block;
}

.